.image-preview img {
    border-width: 30px;
    border-style: solid;
    border-color: skyblue lightpink lightgreen #ffefd5;
}

p > span {
    color: red;
}

#header span {
    color: pink;
}

span {
    color: green;
}

#header *:last-child {
    color: orange;
}

#header span:first-child:hover {
    color: blue;
}
